
<header  ng-cloak class="login-header">
    <div class="" >
        <div class="" style="margin-left:20px;">
           <!--  <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4"> -->
                <a class="header-logo" style="float:left;" href="#">
                    <img class="img-responsive center-block" src="http://purespectrum.com/images/logo.png" alt="Logo" title="" />
                </a>
           <!--  </div> -->
        </div>
         <div class="" style="margin-right:20px; padding-top: 20px;">
           <!--  <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4"> -->
               <a class="osc-header-link osc-header-link--phone-number" style="float:right;color:#333333;" href="tel:+18778657873"><span class="osc-header-link-text">(877) 865 PURE</span></a>
           <!--  </div> -->
        </div>
    </div>
</header>
<section class="pad get-login" ng-controller="forgotPasswordCtrl">
    <div class="form-section">
        <form class="login-form">
            <h2 class="text-center">Forgot Password</h2>
           
            <div class="form-group">
                <input type="email" class="form-control" id="LoginEmail" placeholder="Email" ng-model="forgotPasswordObj.email" required="true">
            </div>
            <div class="form-group">
              <div class="g-recaptcha" vc-recaptcha key="publicKey" ></div>
            </div>
            <button type="submit" class="btn btn-default" ng-click="submitEmail()"
            ng-disabled="disableDiv">Submit</button>
        </form>
    </div>
</section>