<div ng-controller="buyerSettingController">
    <header class="dashbboard-header">
        <div class="col-xs-12 col-sm-6 col-md-6 dash-logo-section">
            <img class="img-responsive" src="img/logo-without-name.png" alt="Logo" title="" ui-sref="home"  />
            <p><a href="tel:+877865-PURE">(877) 865-PURE</a></p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 dashbrd-options pull-right text-right">
            <a ng-if="showCreate" ui-sref="dynstate({id: 'CreateSurveys' })">+ New Survey</a>
            <div class="dropdown user-options">
                <button class="btn btn-default dropdown-toggle survey-style" type="button" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img class="img-responsive" src="img/dashbrd-header-menu.png" alt="menu" title="" />
                </button>
                <ul class="dropdown-menu" aria-labelledby="user-actions">
                    <li class="username">Hello {{userEmail}}</li>
                    <!-- <li class="access-levels">
                        <div class="col-xs-6">
                            <p>Platform capabilities:</p>
                            <span>Buyer = {{buyer}}</span>
                            <span>Supplier = {{supplier}}</span>
                            <span>Operator = {{operator}}</span>
                        </div>
                        <div class="col-xs-6">
                            <p>Access Levels:</p>
                            <span>Buyerside = {{buyerrole}}</span>
                            <span>Supplierside = {{supplierrole}}</span>
                        </div>
                        <div class="clearfix"></div>
                    </li> -->
                    <li ng-repeat="link in dsboardLink"> <button type="button" class="btn btn-link" ui-sref="dynstate({id: {{'link.featureKey'}} })" >{{link.featureLabel}}</button></li>
                    <li><a ng-click="resetPassword()">Reset Password</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                 </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </header>
    <div class="container">
        <section class="pad">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 survey">
                <h4 style="margin-bottom:0px;">Buyer Setting</h4>
            </div>
            <div class="col-md-12 dashbrd-survey-table table-responsive" style="margin-top:25px;">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                    <ul class="nav nav-tabs custom-tabs" role="tablist">
                        <li ng-class="{ active: isSet(1) }">
                            <a href ng-click="setTab(1)">Variable Mapping</a>
                        </li>
                        <li ng-class="{ active: isSet(2) }">
                            <a href ng-click="setTab(2)">Hashing</a>
                        </li>
                        <li ng-class="{ active: isSet(3) }">
                            <a href ng-click="setTab(3)">Decipher</a>
                        </li>
                    </ul>
                    <!-- <h5 align="center"><u>Variable Mapping</u></h5>
                   <p style="text-indent: 1px">You can use this tool to map our our URL variables to yours, so that your survey system recieve and return them back on redirect.</p> -->
                </div>    
                <form class="form-horizontal col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                    <div ng-show="isSet(1)" class="supplier-tabs">
                            <p>You can use this tool to map our our URL variables to yours, so that your survey system recieve and return them back on redirect.</p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>{{buyerSetObj.cmpName}} calls these...</th>
                                        <th>PureSpectrum recieves these back as...</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="help-tip" >
                                                <p>Transaction ID is a required variable. We use this to match the respondents when they return from your survey.</p>
                                            </div>
                                        </td>
                                        <td><input type="checkbox" ng-disabled="true" ng-model="transaction_id.cb" ng-true-value="1" ng-false-value="0">Transaction ID</td>
                                        <td><input  name="textinput"  type="text" placeholder="transaction_id " class="form-control input-md" ng-model="transaction_id.out" maxlength="36"></td>
                                        <td><input  name="textinput" type="text" placeholder="transaction_id " class="form-control input-md" ng-model="transaction_id.in"  maxlength="36" ng-disabled="true"></td>
                                    </tr>

                                    <!-- for now this code is commented but it will use letter -->
                                    <!--PD-369 changes for new buyer variable transaction_id2-->
                                    <tr>
                                        <td>
                                            <div class="help-tip">
                                                <p>This is first optional parameter(transaction_id2) for buyer which will contain the transaction_id</p>
                                            </div>
                                        </td>
                                        <td><input type="checkbox"  ng-model="ps_transId2.cb" ng-true-value="1" ng-false-value="0" >Transaction ID 2</td>
                                        <td><input  name="textinput" type="text" placeholder="transaction_id2 " class="form-control input-md" ng-model="ps_transId2.out" maxlength="36"></td>
                                        <td><input  name="textinput" type="text" placeholder="transaction_id " class="form-control input-md" ng-model="ps_transId2.in" maxlength="36" ng-disabled="true"></td>
                                    </tr>
                                    <!--PD-369 changes for new buyer variable transaction_id3-->
                                    <tr>
                                        <td>
                                            <div class="help-tip">
                                                <p>This is second optional parameter(transaction_id3) for buyer which will contain the transaction_id</p>
                                            </div>
                                        </td>
                                        <td><input type="checkbox"  ng-model="ps_transId3.cb" ng-true-value="1" ng-false-value="0" >Transaction ID 3</td>
                                        <td><input  name="textinput" type="text" placeholder="transaction_id3 " class="form-control input-md" ng-model="ps_transId3.out" maxlength="36"></td>
                                        <td><input  name="textinput" type="text" placeholder="transaction_id " class="form-control input-md" ng-model="ps_transId3.in" maxlength="36" ng-disabled="true"></td>
                                    </tr>

                                    <!--PD-369 changes for new buyer variable transaction_id4-->
                                    <tr>
                                        <td>
                                            <div class="help-tip">
                                                <p>This is third optional parameter(transaction_id4) for buyer which will contain the transaction_id</p>
                                            </div>
                                        </td>
                                        <td><input type="checkbox"  ng-model="ps_transId4.cb" ng-true-value="1" ng-false-value="0" >Transaction ID 4</td>
                                        <td><input  name="textinput" type="text" placeholder="transaction_id4 " class="form-control input-md" ng-model="ps_transId4.out" maxlength="36"></td>
                                        <td><input  name="textinput" type="text" placeholder="transaction_id " class="form-control input-md" ng-model="ps_transId4.in" maxlength="36" ng-disabled="true"></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="help-tip">
                                                <p>This is the persistent PureSpectrum Respondent ID. We use this to validate the respondent when they are returned to us.</p>
                                            </div>
                                        </td>
                                        <td><input type="checkbox" ng-model="psid.cb" ng-true-value="1" ng-false-value="0" >PSID</td>
                                        <td><input  name="textinput" type="text" placeholder="psid " class="form-control input-md" ng-model="psid.out" maxlength="36"></td>
                                        <td><input  name="textinput" type="text" placeholder="psid " class="form-control input-md" ng-model="psid.in"  maxlength="36" ng-disabled="true"></td>
                                    </tr>

                                    <!--supplier_id-->
                                    <tr>
                                        <td>
                                            <div class="help-tip">
                                                <p>Send ps_supplier_id to buyer </p>
                                            </div>
                                        </td>
                                        <td><input type="checkbox" ng-model="ps_supplier_id.cb" ng-true-value="1" ng-false-value="0" class="ps_hash_cb">Supplier ID</td>
                                        <td><input  name="textinput" type="text" placeholder="ps_supplier_id " class="form-control input-md" ng-model="ps_supplier_id.out" maxlength="36"></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="help-tip">
                                                <p>This is the status code for complete, termination, overquota, or security.</p>
                                            </div>
                                        </td>

                                            <td><input  type="checkbox" ng-disabled="true" ng-model="status.cb" ng-true-value="1" ng-false-value="0">Status</td>
                                            <td></td>
                                            <td><input  name="textinput" type="text" placeholder="status " class="form-control input-md" ng-model="status.in" maxlength="36" ng-disabled="true"></td>

                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="help-tip">
                                                <p>This is the security hash that is generated using the Transaction ID, PSID, and Status.</p>
                                            </div>
                                        </td>
                                        <td><input type="checkbox" ng-model="ps_hash.cb" ng-true-value="1" ng-false-value="0" class="ps_hash_cb">Hash</td>
                                        <td></td>
                                        <td><input  name="textinput" type="text" placeholder="ps_hash " class="form-control input-md" ng-model="ps_hash.in" maxlength="36" ng-disabled="true"></td>
                                    </tr>

                                </tbody>
                            </table>
                    </div>

                    <div ng-show="isSet(2)" class="supplier-tabs">
                        <p class="text-center" style="margin-bottom:30px;">If you enable SHA1 hashing, all respondents returning from your survey must include an SHA1 hash of their url variables. Only enable this feature after discussing technical requirements with PureSpectrum support.</p>
                        <p class="text-center" style="margin-bottom:30px;">We has the appended values of transaction_id and st. Note that transaction_id may be mapped to a different name in your system like pid or rid. The values of the hash is stored in the variable called ps_hash. Which may be mapped in "Variable Mapping" menu.</p>

                        <div class="form-group">
                            <label class="col-md-4 control-label" > Enable SHA1 Hashing</label>
                            <div class="col-md-6">
                                <label class="radio-inline">
                                    <input type="radio" name="rdo1" id="hashing" value = 1 ng-model="buyerSetObj.isHashing" >
                                    Yes
                                </label>
                                <label class="radio-inline" >
                                    <input type="radio" name="rdo1"  value = 0 ng-model="buyerSetObj.isHashing" >
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Shared Private Key</label>
                            <div class="col-xs-6">
                                <input name="private_key" type="text" placeholder="Private Key for Hash" class="form-control input-md" ng-model="buyerSetObj.private_key">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div ng-show="isSet(3)" class="supplier-tabs">
                        <div class="form-group">
                            <label class="col-md-4 control-label" > Enable Decipher Mapping</label>
                            <div class="col-md-6">
                                <label class="radio-inline">
                                    <input type="radio" value = "true" ng-model="decipher" ng-click="setDecipher('true')">
                                    Yes
                                </label>
                                <label class="radio-inline" >
                                    <input type="radio" value = "false" ng-model="decipher" ng-click="setDecipher('false')">
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="form-group" ng-show="decipher == 'true'">
                            <div class="row survey-form">
                                <div class="col-md-12 survey ftlt">
                                    <div class="form-inline mar0">
                                        <div class="col-md-4 form-group">
                                            <label>URI</label>
                                            <div class="dropdown dropdown-scroll">
                                                <button class="btn btn-default dropdown-toggle survey-style width100" type="button" id="select_uri" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100%;text-align: left;">
                                                {{decipherObj.selectedURI}}
                                                </button>
                                                <ul class="dropdown-menu company_search" aria-labelledby="select_uri" style="height: auto; max-height: 250px; overflow-x: hidden;" >
                                                    <li role="presentation">
                                                        <div class="input-group input-group-sm search-control"> 
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-search"></span>
                                                            </span>
                                                            <input type="text" class="form-control" placeholder="Search" ng-model="UriFilter"/>
                                                      </div>
                                                    </li> 
                                                    <li ng-repeat="uri in ['Decipher', 'Ugam'] | filter:UriFilter">
                                                        <a href="" ng-click="selectUri(uri);">{{uri}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <!-- supplier select -->
                                        <div class="col-md-4 form-group">
                                            <label>Supplier Type</label>
                                            <div class="dropdown dropdown-scroll">
                                                <button class="btn btn-default dropdown-toggle survey-style width100" type="button" id="select_supplier_type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100%;text-align: left;">
                                                {{decipherObj.selectedSupplierType}}
                                                </button>
                                                <ul class="dropdown-menu company_search" aria-labelledby="select_supplier_type" style="height: auto; max-height: 250px;    overflow-x: hidden;" >
                                                    <li role="presentation">
                                                      <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                        </span>
                                                        <input type="text" class="form-control" placeholder="Search" ng-model="sTypeFilter"/>
                                                      </div>
                                                    </li>                            
                                                    <li ng-repeat="sType in ['Main', 'Many', 'DSP'] | filter:sTypeFilter"><a href="" ng-click="selectSupplierType(sType);">{{sType}}</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <!-- Directory box -->
                                        <div class="col-md-4 form-group">
                                            <label>Directory Name</label>
                                            <input type="text" class="survey-style width100" placeholder="Directory Name" name="directory_name" ng-model = "decipherObj.directory_name" required> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 survey ftlt">
                                    <div class="form-inline mar0">
                                        <div class="col-md-4 form-group">
                                            <label>If Many</label>
                                            <input type="text" class="survey-style width100" placeholder="IF Many" name="if_many" ng-model = "decipherObj.if_many">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="dspMargin">If DSP</label>
                                            <input type="text" class="survey-style width100 dspMargin" name="if_dsp" placeholder="IF DSP" ng-model = "decipherObj.if_dsp" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 survey ftlt">
                                    <div class="form-inline mar0">
                                        <div class="col-md-4 form-group">
                                            <label>Country</label>
                                            <div class="dropdown dropdown-scroll">
                                                <button class="btn btn-default dropdown-toggle survey-style width100" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
                                                {{selectedCountry.label}}
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="Survey_Country">
                                                    <li role="presentation">
                                                        <div class="input-group input-group-sm search-control"> 
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-search"></span>
                                                            </span>
                                                            <input type="text" class="form-control" placeholder="Search" ng-model="countryFilter"/>
                                                        </div>
                                                    </li>
                                                    <li ng-repeat="data in countries | filter:countryFilter"><a href="" ng-click="setCountry(data)">{{data.label}}</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label>Language</label>
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle survey-style width100" type="button"  id="languagedrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="min-height: 66px;">
                                                    {{selectedLanguage.name}}
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="languagedrop">
                                                    <li ng-repeat="data in lang"><a href="" ng-click="setLanguage(data)">{{data.name}} </a></li>
                                                </ul>
                                            </div>                 
                                        </div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $('.dropdown-menu input, .dropdown-menu .search-control').click(function(e) {
                                        e.stopPropagation();
                                    });
                                </script>
                            </div>
                            <div class="row survey-form">
                                <div class="col-md-12 survey ftlt">
                                    <div class="form-inline mar0">
                                        <div class="col-md-12 form-group">
                                            <label>Mappings</label>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label>Qualification for Decipher</label>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label>QUALIFICATION FOR PS</label>
                                        </div>
                                        <div class="col-md-2 form-group">
                                        </div>
                                    </div>
                                    <div class="form-inline mar0" >
                                        <div class="row paddingMapping" ng-repeat="mapping in mappings">
                                            <div class="col-md-12 ftlt" >
                                                <div class="form-inline mar0">
                                                    <div class="col-md-3 form-group">
                                                        <div class="clearfix"></div>
                                                        <input type="text" class="survey-style width100 decipherQualTab" placeholder="" name="data" ng-model = "mapping.data" ng-blur="selectQualification(mapping.qualification, $index)">
                                                    </div>
                                                    <div class=" col-md-3 form-group"  >
                                                        <div class="dropdown dropdown-scroll "  >
                                                            <button class="btn btn-default dropdown-toggle survey-style width100 suppBtnDrop" type="button" id="select_quali" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100%;text-align: left;min-height: 66px;"
                                                            ng-model ="mapping.qualification"
                                                            >
                                                            {{mapping.qualification.label}}
                                                            </button>
                                                            <ul class="dropdown-menu company_search" aria-labelledby="Survey_Country">
                                                                <li role="presentation">
                                                                  <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-search"></span>
                                                                    </span>
                                                                    <input type="text" ng-click="preventSearchToClose($event)" class="form-control" placeholder="Search" ng-model="qualiFilter "
                                                                    ></input>
                                                                  </div>
                                                                </li> 
                                                                <li ng-repeat="qualification in qualifications | filter:qualiFilter" ><a href="" 
                                                                
                                                                ng-click="selectQualification(qualification, $parent.$index);"    >{{qualification.label}}</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="col-md-2 buttonAlign" >
                                                        <button type="button" ng-click="showConditions($index)"  class="btn btn-primary" data-toggle="modal" data-target="#myModal"  ng-if= "checkForTab($index)" >add Conditions<span class="glyphicon glyphicon-menu-right"></span></button>
                                                    </div>
                                                    <div class="col-md-2 buttonAlign" ng-if="$last" >
                                                        <input type="button" class="btn btn-primary " value="add Mapping" ng-click="addMapping($index)" ng-if= "showAddMappingTab">
                                                    </div>
                                                    <div class="col-md-2 buttonAlign"  ng-if="!$last" >
                                                        <button type="button" class="btn btn-primary btn-sm" ng-click="closeMapping($index)">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                         
                                                    </div>
                                                        
                                                    
                                                    
                                                    
                                                    <!-- supplier select -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                        <div class="col-md-12 col-md-offset-1 survey">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    <div >
                                     <button type="button" class="btn btn-primary submit-btn" ui-sref="home">Back to Dashboard</button>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col-xs-7 col-sm-7 col-md-7">
                                   
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2" style="float:right">
                                       <button type="button" class="btn btn-primary submit-btn"  ng-click="saveBuyerSetting()">Save</button>
                                </div>
                            </div>
                                <div class="row" style="padding-top: 20px">
                                    <div class="col-xs-4 col-md-4 col-sm-4">
                                        
                                    </div>
                                </div>
                    </div>
                </form>
                
            </div>
        </section>
        <br/><br/><br/>
    </div>
    <div class="modal fade" id="myModal" role="dialog" >
        <div class="modal-dialog modal-md">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Conditions</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row"> 
                        <div class="col-md-5" >
                            <input type="text" class="form-control modalText" ng-model="conditionData.qualConditionOne">
                        </div>
                        <div class="panel panel-default modalPanel" ng-if="showAddConditionsTab">
                            <div class="panel-body " style="height: 150px;overflow-y: auto;">
                                <ul>
                                    <li ng-repeat="item in decipherCheckData">
                                        <input type="checkbox" ng-checked="item.selected"
                                        ng-model="conditionData.selectedList[item.name]" ng-change= "conditionCheck()"> {{item.name}}
                                    </li>
                                 </ul>
                            </div>
                        </div>
                        <div class="col-md-5"  >
                            <input type="text" class="form-control modalText" ng-if="ageIncomeQualExist" ng-model="conditionData.qualConditionTwo">
                        </div>
                    </div>
                <div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="saveQualifications()" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
