<div ng-controller="resetForgetPassword">
    <header class="dashbboard-header">
        <div class="col-xs-12 col-sm-6 col-md-6 dash-logo-section">
            <img class="img-responsive" src="img/logo-without-name.png" alt="Logo" title="" ui-sref="home" />
            <p><a href="tel:+877865-PURE">(877) 865-PURE</a></p>
        </div>
        <div class="clearfix"></div>
    </header>
    <section class="pad get-login">
        <div class="form-section" ng-show="hideResetPass">
            <form class="login-form">
                <h2 class="text-center">Reset password</h2>
                <div class="form-group">
                    <input type="password" class="form-control" name="npass" placeholder="New Password" ng-model="userobj.newpass"  required="true">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="cnpass" placeholder="Confirm Password" ng-model="userobj.cpass"  required="true">
                </div>
                <button type="submit" class="btn btn-default" name="submit" ng-click="updatePassword()">Submit</button>
            </form>
        </div>
        <div class="form-section" ng-hide="hideResetPass" align="center">
            <p> Sorry this token is invalid </p> <br/>
            <p> Please conatct support@purespectrun.com for assistance </p> <br/> <br/> 
            <button type="submit" class="btn btn-default submit-btn" ng-click="backLoginPage()">Return to Login</button>
            </div>
        </div>
    </section>
</div>
